
@import "reset";
@import "function";
@import "mixin";


// 公共部分
.h_top,,.h_foot{
	width:pxToRem(1200px);
	@include block_center;
}

	
// -------------------头部--------------------
// ---one----
#headTop{
	width:100%;
	background: #fbfbfb;
	height:pxToRem(30px);
	border-bottom: 1px solid #e0e0e0;
	.h_top{
		color:#000;
		line-height:30px;
		p{
			line-height:30px;
			float:left;
			// 登录 注册
			.collect{
				margin: 0 5px;
				cursor: pointer;
				&:hover{
					color:#cd0000;
				}
			}
			.top_login_reg a{
				&:hover{
					color:#cd0000;
				}
			}
		}
		// 我的永乐
		.login-info-my{
			float:left;
		    padding-left: 15px;
		    position: relative;
		    zoom: 1;
		    z-index: 2000;
		    .my-yongle{
				padding-right: 26px;
				background: url(../images/sprite-iocn.png) no-repeat 52px -359px;
				&:hover{
					background: url(../images/sprite-iocn.png) no-repeat 52px -391px;
					color:#cd0000;					
				}		
		    }
		    
		    .bg{
		    	width: 78px;
			    height: 27px;
			    border: 3px solid #ddd;
			    border-bottom: 0;
			    position: absolute;
			    background-color: #fff;
			    top: 3px;
			    left: 5px;
			    overflow: hidden;
			    z-index: -1;
			    display:none;
		    }
		    .my-yongle-box{
		    	display: none;
			    border: 3px solid #ddd;
			    border-top: 0 none;
			    position: absolute;
			    z-index: 1;
			    position: absolute;
			    background: #FFF;
			    top: 31px;
			    width: 78px;
			    left: 5px;
			    z-index: 1000;
			    text-indent: 7px;
			    height: auto;
			    overflow: hidden;
			    line-height: 20px;
			    >li{
			    	height:26px;
			    }
			    li a:hover{
			    	color:#cd0000;
			    }
		    }
		    &:hover .bg,&:hover .my-yongle-box{
		    	display:block;
		    }   
		}
.top_right{
	float:right;
	>li{
		float:left;
		width:69px;
		text-align:center;	
	}
	>li:nth-of-type(1){
		position:relative;
		z-index:9000;
		text-align:left;
		width:68px;
	>a{
		background: url(../images/sprite-iocn.png) no-repeat 52px -359px;
		padding-right:20px;
		position: relative;
    	z-index: 5200;
    	text-align: center;					
	}
	&:hover >a{
		background: url(../images/sprite-iocn.png) no-repeat 52px -391px;		
		}
	// 永乐导航的二级菜单
	.guide-list{
		display: none;
    	border: 3px solid #ddd;
    	position: absolute;
    	z-index: 1;
    	line-height: 200%;
    	position: absolute;
    	background: #FFF;
    	top: 30px;
    	width: 350px;
    	left: -7px;
    	padding: 10px 10px 0 15px;
    	z-index: 5100;
    	.bg{
    		width: 75px;
   			height: 27px;
   			border: 3px solid #ddd;
   			border-bottom: 0;
   			position: absolute;
   			background-color: #fff;
   			top: -30px;
   			left: -3px;
   			overflow: hidden;
    	}
    	dl{
		    overflow: hidden;
		    zoom: 1;
		    background: #fff;
		    border-bottom: 1px #b2b2b2 dotted;
		    width: 355px;
		    margin-bottom: 10px;
		    padding: 0 0 10px 0;
		    dt{
		    	width: 50px;
			    float: left;
			    padding-left: 5px;
			    font-weight: bold;
			    color: #4c4c4c;
		    }
		    dd{
		    	width: 300px;
    			float: left;
    			li{
    				float: left;
    				width: 69px;
    				height: 30px;
    				text-align: center;
    			}
		    }
    	}	
	}
	&:hover .guide-list{
		display:block;
	}

	}
	// 手机永乐
	>li:nth-of-type(2){
		position:relative;
		z-index:9000;
		>a{
			position:relative;
			z-index:9000;
		}
		.guide-list{
			display: none;
    		border: 3px solid #ddd;
    		position: absolute;
    		z-index: 1;
    		line-height: 200%;
    		position: absolute;
    		background: #FFF;
    		top: 30px;
    		width: 355px;
    		left: 3px;
    		padding: 10px 10px 0 15px;
    		z-index: 5100;
    		width: 100px;
    		padding: 10px 10px 5px;
    		text-align: center;
    		.bg{
    			width: 60px;
   				height: 27px;
   				border: 3px solid #ddd;
   				border-bottom: 0;
   				position: absolute;
   				background-color: #fff;
   				top: -30px;
   				left: -3px;
   				overflow: hidden;
    		}
    		>p{
    			width:100%;
    			line-height:22px;
				text-align:center;
    		}
		}
		&:hover .guide-list{
			display:block;
		}
	}
	li:nth-of-type(3):hover a,li:nth-of-type(4):hover a{
		color: #cc0001;
	}
	>li:nth-of-type(5){
		margin-top:4px;
		height:22px;
		line-height:21px;
		box-sizing:border-box;
		background:#efefef;	
		border-radius:8%;
		border:1px solid #ddd;
		>a{

			color: #1582bd;
			background:url(../images/bg_flbtn.png) no-repeat -191px -2px;
			padding-left:20px;
		}
		&:hover{
			background:#fbfbfb;
		}
	}		
		}	
	}
}
// ---two----
#headMiddle{
	width:100%;
	color: #666;
    padding-top: 4px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #FFFBEF;
    overflow: hidden;
	.h_middle{
		width:1000px;
		@include block_center;
		.left_msg{
			@include block_center;
			width:980px;
		    color: #cc0001;
		    text-align:center;
		    font-weight:bold;
		    height:23px;
		    line-height:23px;
			float:left;			
		}
		.cancel{
				padding-top: 6px;
				display:inline-block;
				cursor: pointer;
				float:right;
				margin-right:8px;
			}		
	}
}