
@import "reset";
@import "function";
@import "mixin";


// 公共部分

// 宽度100%部分
#headTop,#headMiddle,#headFoot,
#Header_search,#Banner,#Popular,
#CityShow,#Hot_Tour,#clsaaity,
#hotUp,#hidden-meun,#Foot{
    background:$bg;
    width:$wid;
}
//居中自适应部分 
.h_top,.h_foot,.h_search,.nav,
.banner,.recommend,.c_show,.hot-up,
.h_tour,.meun,.foot{
	width:pxToRem(1200px);
	@include block_center;
}


    // 右边的专题
    .common_h3{
        color: #ba1414;
        font-size: 16px;
        font-family: Microsoft YaHei;       
        margin-bottom: 13px;        
        }
    .conmon_dl{
        text-align: center;
        border-bottom: 1px dotted #B1B1B1;
        padding-bottom: 10px;
        color:#4c4c4c;
        .commondt_dt {
            height:131px;
        }
        .dis-title{
            height: 42px;
            overflow: hidden;
            &:hover a{
            color:#c11b1b;
            }
        }        
    }
    .mt10{
        margin-top: 10px;
        color:#4c4c4c;
        li{
            padding-left: 15px;
            float: left;
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 195px;
            background: url(../images/sprite-iocn.png) no-repeat -5px -305px;
        &:hover{
            background: url(../images/sprite-iocn.png) no-repeat -5px -580px;
            color:#ba1414;
            }
        }
    } 
    // 左边的列表详情
    .com_dl_jsop{
        width: 150px;
        margin-right: 32px;
        float:left;
        text-align: center;
    }
    .com_dt_jsop{
        width: 150px;
        height: 209px;
        position: relative;
        margin-bottom: 5px;
    }

    // 选项卡
    .hot-product-list{
        width: 65px;
        height: 15px;
        position: absolute;
        left: 866px;
        top: 24px;
        li{
            float:left;
            width: 15px;
            height: 15px;
            margin-right: 4px;
            background:url(../images/sprite-iocn.png) no-repeat 0 -269px;
            &:hover{
                background:url(../images/sprite-iocn.png) no-repeat 0 -291px;
                }
            }
        .selected{
            background:url(../images/sprite-iocn.png) no-repeat 0 -246px;
            }
       
        }
	
// -------------------头部--------------------
// ---one----
#headTop{
	background: #fbfbfb;
	height:pxToRem(30px);
	border-bottom: 1px solid #e0e0e0;
	.h_top{
		color:#000;
		line-height:30px;
		p{
			line-height:30px;
			float:left;
			// 登录 注册
			.collect{
				margin: 0 5px;
				cursor: pointer;
				&:hover{
					color:#cd0000;
				}
			}
			.top_login_reg a{
				&:hover{
					color:#cd0000;
				}
			}
		}
		// 我的永乐
		.login-info-my{
			float:left;
		    padding-left: 15px;
		    position: relative;
		    zoom: 1;
		    z-index: 2000;
		    .my-yongle{
				padding-right: 26px;
				background: url(../images/sprite-iocn.png) no-repeat 52px -359px;
				&:hover{
					background: url(../images/sprite-iocn.png) no-repeat 52px -391px;
					color:#cd0000;					
				}		
		    }
		    
		    .bg{
		    	width: 78px;
			    height: 27px;
			    border: 3px solid #ddd;
			    border-bottom: 0;
			    position: absolute;
			    background-color: #fff;
			    top: 3px;
			    left: 5px;
			    overflow: hidden;
			    z-index: -1;
			    display:none;
		    }
		    .my-yongle-box{
		    	display: none;
			    border: 3px solid #ddd;
			    border-top: 0 none;
			    position: absolute;
			    z-index: 1;
			    position: absolute;
			    background: #FFF;
			    top: 31px;
			    width: 78px;
			    left: 5px;
			    z-index: 1000;
			    text-indent: 7px;
			    height: auto;
			    overflow: hidden;
			    line-height: 20px;
			    >li{
			    	height:26px;
			    }
			    li a:hover{
			    	color:#cd0000;
			    }
		    }
		    &:hover .bg,&:hover .my-yongle-box{
		    	display:block;
		    }   
		}
.top_right{
	float:right;
	>li{
		float:left;
		width:69px;
		text-align:center;	
	}
	>li:nth-of-type(1){
		position:relative;
		z-index:9000;
		text-align:left;
		width:68px;
	>a{
		background: url(../images/sprite-iocn.png) no-repeat 52px -359px;
		padding-right:20px;
		position: relative;
    	z-index: 5200;
    	text-align: center;					
	}
	&:hover >a{
		background: url(../images/sprite-iocn.png) no-repeat 52px -391px;		
		}
	// 永乐导航的二级菜单
	.guide-list{
		display: none;
    	border: 3px solid #ddd;
    	position: absolute;
    	z-index: 1;
    	line-height: 200%;
    	position: absolute;
    	background: #FFF;
    	top: 30px;
    	width: 350px;
    	left: -7px;
    	padding: 10px 10px 0 15px;
    	z-index: 5100;
    	.bg{
    		width: 75px;
   			height: 27px;
   			border: 3px solid #ddd;
   			border-bottom: 0;
   			position: absolute;
   			background-color: #fff;
   			top: -30px;
   			left: -3px;
   			overflow: hidden;
    	}
    	dl{
		    overflow: hidden;
		    zoom: 1;
		    background: #fff;
		    border-bottom: 1px #b2b2b2 dotted;
		    width: 355px;
		    margin-bottom: 10px;
		    padding: 0 0 10px 0;
		    dt{
		    	width: 50px;
			    float: left;
			    padding-left: 5px;
			    font-weight: bold;
			    color: #4c4c4c;
		    }
		    dd{
		    	width: 300px;
    			float: left;
    			li{
    				float: left;
    				width: 69px;
    				height: 30px;
    				text-align: center;
    			}
		    }
    	}	
	}
	&:hover .guide-list{
		display:block;
	}

	}
	// 手机永乐
	>li:nth-of-type(2){
		position:relative;
		z-index:9000;
		>a{
			position:relative;
			z-index:9000;
		}
		.guide-list{
			display: none;
    		border: 3px solid #ddd;
    		position: absolute;
    		z-index: 1;
    		line-height: 200%;
    		position: absolute;
    		background: #FFF;
    		top: 30px;
    		width: 355px;
    		left: 3px;
    		padding: 10px 10px 0 15px;
    		z-index: 5100;
    		width: 100px;
    		padding: 10px 10px 5px;
    		text-align: center;
    		.bg{
    			width: 60px;
   				height: 27px;
   				border: 3px solid #ddd;
   				border-bottom: 0;
   				position: absolute;
   				background-color: #fff;
   				top: -30px;
   				left: -3px;
   				overflow: hidden;
    		}
    		>p{
    			width:100%;
    			line-height:22px;
				text-align:center;
    		}
		}
		&:hover .guide-list{
			display:block;
		}
	}
	li:nth-of-type(3):hover a,li:nth-of-type(4):hover a{
		color: #cc0001;
	}
	>li:nth-of-type(5){
		margin-top:4px;
		height:22px;
		line-height:21px;
		box-sizing:border-box;
		background:#efefef;	
		border-radius:8%;
		border:1px solid #ddd;
		>a{

			color: #1582bd;
			background:url(../images/bg_flbtn.png) no-repeat -191px -2px;
			padding-left:20px;
		}
		&:hover{
			background:#fbfbfb;
		}
	}		
		}	
	}

}

// ---two----
#headMiddle{
	color: #666;
    padding-top: 4px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #FFFBEF;
    overflow: hidden;
	.h_middle{
		width:1000px;
		@include block_center;
		.left_msg{
			@include block_center;
			width:980px;
		    color: #cc0001;
		    text-align:center;
		    font-weight:bold;
		    height:23px;
		    line-height:23px;
			float:left;			
		}
		.cancel{
				padding-top: 6px;
				display:inline-block;
				cursor: pointer;
				float:right;
				margin-right:8px;
			}		
	}
}
// ---three----
#headFoot{
	.h_foot{
		position:relative;
		.pullc-btn{
		width: 21px;
	    height: 53px;
	    cursor: pointer;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    z-index:11;

		}
		.pullc-on{
			background: url(../images/adBtn.png) no-repeat left top;
		}
		.pullc-off{
			background: url(../images/adBtn.png) no-repeat 0 -53px;
		}

	}

}

// --------------------head-search---------------
#Header_search{
	height:118px;
    background:#fff;
}
.h_search{
	// logo部分
	.logo{
		width: 209px;
    	height: 60px;
    	background: url(../images/logo.png);
    	float: left;
    	margin: 19px 100px 0 0;
	}
	// 切换城市部分
	.logoRight{
		position: relative;
    	padding-right: 40px;
    	width:100px;
    	float:left;
    	>span{
    		font-size: 14px;
    		font-family: "Microsoft YaHei";
    		color: #4c4c4c;
    		position: absolute;
    		width: 100px;
    		left: 8px;
    		top: 28px;
    	}

    	.index_city{
    		width: 74px;
    		height: 28px;
    		position: relative;
    		float: left;
    		z-index: 10;
    		zoom: 1;
    		.change-city {
    		width: 74px;
    		height: 22px;
    		padding-left: 7px;
    		display: block;
    		top: 53px;
    		margin: 0 0 0 5px;
    		line-height: 22px; 
    		font-size: 12px;
    		position: relative;
    		z-index: 11;
    		zoom: 1;
    		color: #a5a5a5;
    		cursor: pointer;
    		z-index: 10000;
    		overflow: hidden;
    		background: url(../images/sprite-h-f.png) no-repeat -253px -39px;
    		
    		}    		
    		.change-city-list{
			    display: none;
    			position: absolute;
    			width: 625px;
    			border: 2px #88756E solid;
    			left: 5px;
    			top: 75px;
    			z-index : 10;
    			background: #FFF;
    			color:#4c4c4c;
    			padding: 5px 6px 3px 13px;
    			z-index: 10000;
    			.city-dl{
    				padding: 13px 0px 0px 70px;
				    line-height: 14px;
				    border-bottom: 1px dotted #ccc;
				    dt{
				    	width: 48px;
					    margin-left: -70px;
					    padding-right: 12px;
					    float: left;
					    background: url(../images/cityArr.png) no-repeat right center;
				    }
				    dd{
				    	width: 75px;
    					float: left;
    					padding-bottom: 15px;
    					padding-right: 5px;
						i{
							font-style: normal;
    						color: #676767;
    						padding-left: 5px;
						}
				    }
    			}

    		}
    	
    	&:hover .change-city{
    		background: url(../images/sprite-h-f.png) no-repeat -253px -66px;
    	}
    	&:hover .change-city-list{
				display:block;
    		}
	}
	}

	// 搜索框
	#index-search{
	float: left;
    top: 0;
    left: 110px;
    width: 411px;
    height: 60px;
    margin-top: 28px;
    position: absolute;
    .search-main{
    	background: url(../images/sprite-h-f.png) no-repeat;
    	overflow: hidden;
    	width: 411px;
    	height: 34px;
    	position: relative;
    	z-index: 1;
    	#search-text{
    		width: 329px;
    		height: 28px;
    		border: 0;
    		position: absolute;
    		left: 3px;
    		top: 3px;
    		line-height: 28px;
    		text-indent: 5px;
    		color:rgb(204, 204, 204);
    		display: inline-block;
    		text-align: start;
    		font: 400 13.3333px Arial;   		
    	   }

        } 
    .search-hot-key{
    	padding-top:5px;
    	a{
    		margin-right: 6px;
    		color: #a5a5a5;
    		&:hover{
    			color: #cc0001;
    		}
    	}
    }   
	}    
	// 积分商城
	#quick-guide{
		width: 223px;
    	height: 68px;
    	float: right;
    	position: relative;
    	right: 6px;   
		.quick-arrow{
    		position: absolute;
    		left: 205px;
    		top: 33px;
    		width: 13px;
    		height: 14px;
    		z-index: 100;
    		background:url(../images/sprite-iocn.png) no-repeat 0 -417px;
    		&:hover{
    			background:url(../images/sprite-iocn.png) no-repeat 0 -436px;   		
    		}
    			&:hover ul{
    			border:1px #E0E0E0 solid;
    			box-shadow:1px 1px 1px #eee;
    			margin-top:7px;
    			padding:20px 15px 0 14px;   		
    			}
    		}
	
		ul{		
		position: absolute;
    	background: none;
    	padding: 20px 15px 0;
    	width: 193px;
    	margin-top: 8px;
    	li{
    		float:left;
    		a{
    			width: 61px;
    			height: 38px;
    			overflow: hidden;
    			float: left;
    			text-align: center;
    			color: #999;
    			padding-top: 37px;
    			display: block;
    			p{margin-top: 2px;}
    		}
    		.qg1a{    			
    			background: url(../images/sprite-h-f1.png) no-repeat 10px -466px;
    		}
    		.qg2a{    			
    			background: url(../images/sprite-h-f1.png) no-repeat 10px -638px;
    		}
    		.qg3a{    			
    			background: url(../images/sprite-h-f1.png) no-repeat 10px -812px;
    		}

    		.qg4a{    			
    			background: url(../images/sprite-h-f1.png) no-repeat 10px -987px;
    		}
    		.qg5a{    			
    			background: url(../images/sprite-h-f1.png) no-repeat 10px -1159px;
    		}

    	&:hover a{
    	color:#ff4747;
    		}
    	}
    	.undb{
    		display:none;
    	}
    	
		}
		
    }
    // 模糊搜索
    .searchlist{
        position:absolute;
        width:411px;
        top:34px;
        z-index:999;
        background:#fff;
        display:none;
        li{
            height:34px; 
            line-height:34px;
            padding:0 8px;
            &:hover{
                background:pink;
            }              
        }
        .li_last{
            text-align:right;
            border-top:1px solid #ccc;
        }
    }
}

// ----------------------Nav------------------
#Nav{
    height: 43px;
    line-height: 43px;
    background: url(../images/sprite-nav.png) 0 -377px;
    overflow: hidden;
    .f14{
    	padding-left: 200px;

    	li{
    		float: left;
    		text-align: center;
    		margin: 0 8px;
    		height:43px; 
    		a{
    			font-family: "微软雅黑";
    			color: #fff;
   				display: inline-block;
   				height: 43px;
   				padding: 0 10px;
   				font-size: 14px;

    		}
    	&:hover{
    		background: url(../images/sprite-h-f.png) no-repeat -338px -39px;
    		overflow: hidden;
    		}
    	}
    }
}

// ----------------------Banner------------------
#Banner{
	height:360px;
    position:relative;
    padding-bottom:23px;
// --left
.b_left{
	width: 200px;
    float: left;
    z-index: 200;
    position: relative;
    top: -43px;
    z-index:999;
    .sort-title{
    	width: 200px;
    	height: 43px;
    	font-size: 15px;
    	font-family: Microsoft YaHei;
    	font-weight: bold;
    	text-align: center;
    	line-height: 43px;
    	color: #fff;
    	background: url(../images/sprite-h-f.png) no-repeat -223px -122px;
    }
    .list{
    	border: 2px solid #AB9F99;
    	border-top: 0;
    	height: 358px;
    	width: 196px;
    	background: #fff;
    	.item{		    
		    h3{
		    	position: relative;
		    	z-index: 100;
		    	width: 196px;
    			height: 39px;
    			line-height: 39px;
    			font-size: 14px;
    			font-family: "Microsoft YaHei";
    			border-top: 1px #EEEEEE solid;
    			background-position: 160px -305px;
    			background-repeat: no-repeat;
    			a{
    				color: #676767;
    				width: 136px;
    				height: 39px;
    				padding-left: 60px;
    				display: block;
    				font-size: 14px;
    			}
    			.list-1{background: url(../images/sprite-nav.png) no-repeat 26px -1px;}					    
    			.list-2{background: url(../images/sprite-nav.png) no-repeat 26px -78px;}					   
				.list-3{background: url(../images/sprite-nav.png) no-repeat 26px -39px;}
				.list-4{background: url(../images/sprite-nav.png) no-repeat 26px -117px;}
				.list-5{background: url(../images/sprite-nav.png) no-repeat 26px -156px;}					    
    			.list-6{background: url(../images/sprite-nav.png) no-repeat 26px -273px;}					   
				.list-7{background: url(../images/sprite-nav.png) no-repeat 26px -234px;}
				.list-8{background: url(../images/sprite-nav.png) no-repeat 26px -195px;}	    

    		&:hover{background:#88766E;}
    		&:hover .outbox{display:block;}   			
    		&:nth-of-type(9):hover{
    			background:#fff;
    			height:37px;
    		}
    		&:hover >a{color:#fff;font-weight:bold;}    			   			
    		&:nth-of-type(9):hover a{color:#4c4c4c;font-weight:normal;	}

    		.outbox{
    			display: none;
    			width: 117px;
    			position: absolute;
                z-index:9999;
    			left: 197px;
    			top: 0;
    			border: 1px solid #a5a5a5;
				li{
					height: 32px;
    				background: url(../images/sprite-hf.png) no-repeat -306px -173px; 
    				padding: 0 8px;
    				line-height: 32px;
    				a{	
    					font-size: 13px;
    					color: #888;
    					border-bottom: 1px #b2b2b2 dotted;
    					width: 70px;
    					height: 30px;
    					display: block;
    					padding-left: 32px;
    					overflow: hidden;
    				&:hover{color:#cc0001;}				
    				}
    			&:hover{
    				background: url(../images/sprite-hf.png) no-repeat -306px -393px; 
					}
    			}
    			}		
		    }
    	}
    }

}
// --center
.b_center{
	width: 740px;
    height: 350px;
    float: left;
    margin: 10px 10px 0 10px;
	.container{
		float: left;
    	position: relative;
    	width: 740px;
    	height: 350px;
    	overflow: hidden;
    	zoom: 1;
        .undb{                    
            width: 36px;
            cursor: pointer;
            position: absolute;
            z-index:66;
            top: 152px;
            height: 50px;
            overflow: hidden;
            display:none;
        }
    &:hover .undb{
        display:block;
    }
        .prev{
            left: 20px;
            background: url(../images/newx-flash.png) no-repeat 0 0;
        }
        .next{
            right: 10px;
            background: url(../images/newx-flash.png) no-repeat -47px 0;
        }
    }
        .supperbanner_btn_wrap{
            position: absolute;
            display: inline;
            right: 12px;
            bottom: 12px;
            height: 19px;
            z-index:111;
        }
        .supperbanner_btn_wrap span{
            display: inline-block;
            width: 18px;
            height: 18px;
            line-height: 18px;
            overflow: hidden;
            margin-left: 7px;
            color: #333;
            text-align: center;
            cursor: pointer;
            background: url(../images/imgPlayer.png) no-repeat -28px -90px;
        }
        .supperbanner_btn_wrap span.supperbanner_active{
            background:url(../images/imgPlayer.png) no-repeat 0px -90px;
            color:#fff;
        }
}
// --right
.b_right{
	width: 210px;
    height: 318px;
    border: 1px #d5d5d5 solid;
    background: #fff;
    float: left;
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 14px;
    overflow: hidden;
    .common_h3{
        background: url(../images/sprite-bg.png) no-repeat 0 10px;
        text-align: center;
    }
    .dis-intro{
            height: 21px;
            overflow: hidden;
            color: #c11b1b;
        }
    }
}

// ----------------------热门推荐------------------
#Popular{
    height:332px;
    padding-bottom:23px;
    .recommend{
        position:relative;
    }
    // left
    .pr_left{
        padding: 19px 16px;
        width: 916px;
        height: 292px;
        border: 1px #d5d5d5 solid;
        background: #fff;
        z-index: 10;
        border-radius: 2px;
        overflow:hidden;
        position:absolute;
        left:0;
    // 推荐
    .mb15 {
        margin-bottom: 15px;   
        h2{
            font-size: 18px;
            font-family: "Microsoft YaHei";
            font-weight: normal;
            color: #ba1414;
            float: left;
            padding-left: 20px;
            margin-right: 20px;
            background: url(../images/sprite-iocn.png) no-repeat 0 -122px;
            }
        .mr10{
            margin-right: 10px;
            line-height:27px;
            display:inline-block;
        &:hover{
            color:#ba1414;
            }
        }
    }
    
    // 图片列表
    .hot-product-tab{
        position: absolute;
        height: 300px;
        left: 19px;
        padding-left: 16px;
        li{
            margin-right: -40px;
            width: 956px;
            float:left;
            dl{               
                dt{                    
                    .booking{
                        width: 56px;
                        height: 56px;
                        display: block;
                        position: absolute;
                        z-index: 100;
                        left: -2px;
                        top: -2px;
                        background: url(../images/sprite-button.png) no-repeat 0 -135px;
                        }
                    img{width:100%;height:100%;}
                }    
                    dd{
                        display: block;
                        height: 38px;
                        overflow: hidden;
                        &:hover a{color:#ba1414;}
                    }               
            }
        }
    }
    }
    // right
    .py_right{
        width: 210px;
        height: 300px;
        border: 1px #d5d5d5 solid;
        background: #fff;
        float: right;
        border-radius: 2px;
        padding: 15px 14px;
        overflow: hidden;
        .h3_warp{
            height: 34px;
            width: 210px;
            .common_h3{
                float:left;
            }
            .fr{float: right;}
        }   
    }
}

// -----------------城市巡演--------------------

.c_show{
    padding-bottom:20px;
    .showLeft{
        width: 948px;
        height: 392px;
        border: 1px #d5d5d5 solid;
        background: #fff;
        float: left;
        overflow: hidden;
        border-radius: 2px;
        // 导航
        .city-list-uls{
            width: 948px;
            height: 44px;
            background: url(../images/sprite-repeat-bg.png) repeat-x 0 -43px;
            li{
                float: left;
                width: 78px;
                line-height: 38px;
                font-size: 14px;
                font-family: "Microsoft YaHei";
                font-weight: normal;
                text-align: center;
                color: #4c4c4c;
                position: relative;
                z-index: 10;
                background: url(../images/sprite-repeat-bg.png) no-repeat 63px -132px;
                a{
                    font-size:14px;
                    }
                &:hover{
                    background: url(../images/sprite-button.png) no-repeat -91px -186px;
                    }
                &:hover a{
                    color:#fff;
                    }                   
            }
            li:nth-of-type(1){
                position: relative;
                top: -1px;
                height: 44px;
                background: url(../images/sprite-button.png) no-repeat -91px -186px;
                a{ 
                    color: #fff;
                }
            }
        }
        
        // 二级菜单
        .more{
            float:right;
            position: relative;
            .city-links{
                width: 168px;
                font-size: 12px;
                height: 38px;
                position: relative;
                color: #4c4c4c;
                display: block;
                text-align: center;
                line-height: 38px;
                top: -44px;
                background: url(../images/sprite-button.png) 0 0;
            }
            .allcity{
                width: 455px;
                border: 2px #C51F1F solid;
                position: absolute;
                top: -6px;
                left: -301px;
                z-index: 100;
                background: #fff;
                padding: 20px 0 5px 10px;
                display: none;
                p{
                    width: 70px;
                    float: left;
                    margin: 0 7px 13px 7px;
                    span{   color: #ccc;
                            margin-left: 5px;}
                }
                }
            } 
        // 列表项
        .total{
            width: 948px;
            height: 41px;
            clear: both;
            border-top: 1px #c0c0c0 solid;
            position: relative;
            top: -44px;
            p{
                padding-left: 19px;
                line-height: 41px;
                width: 929px;
                height: 41px;
                color: #4c4c4c;
                background: url(../images/sprite-repeat-bg.png) repeat-x 0 -86px;
                .lans{color: #3399cc;}
            }
            .city-product-list{
                margin: 20px 0 0 0;
                padding-left: 35px;
                dl{
                    dt{
                        img{width:100%;height:100%;}
                    }
                    .hsfh{
                            color: #cb0101;
                            font-size: 12px !important;
                            overflow:hidden;
                        }
                    .price{
                        font-size: 16px;
                        color: #cc0000;
                        font-weight: bold;
                        font-family: "Tahoma";
                        }
                }
            }
        }
    }
    // right
    .showRight{
        width: 210px;
        height: 362px;
        border: 1px #d5d5d5 solid;
        background: #fff;
        float: right;
        border-radius: 2px;
        padding: 15px 14px;
        position: relative;
        left: 10px;
        overflow: hidden;
        .hot-product-list{
            position:absolute;
            top: 20px;
            left: 160px;
        }
    }
}

// -----------------全国热门巡演--------------------


#Hot_Tour{
    padding-bottom:20px;
    // 标题
    .channel-t{
        width: 100%;
        border-bottom: 2px #333 solid;
        padding-bottom: 5px;
        margin-bottom: 19px;
        h2{
            font-family: "Microsoft YaHei";
            float: left;
            padding-left: 19px;
            background: url(../images/sprite-iocn.png) no-repeat 0 -154px;
            a{ font-size: 18px;}                 
        }
    }
    // 图片列表
    .star-list{
        width: 1200px;
        height: 310px;
        position: relative;
        margin: -10px auto 0;
        li{
            overflow: hidden;
            position: absolute;
            a{
                display: block;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                .over{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    background: #C42B26;
                    top: 0px;
                    left: 0px;
                    opacity: 0;
                    @include transitionall(opacity 0.5s);
                }
                .over-text{
                        display: block;
                        text-align: left;
                        color: #fff;
                        line-height: 20px;
                        font-size: 14px;
                        padding: 10px 10px 0;
                        cursor: pointer;
                        font-family: "微软雅黑";
                }
            }           
            
            &:hover .over{
                opacity:0.9;
            }           
        }
        .x1{
            @include x(220px 310px 0 0);
            a{@include a_x(310px);
               .over-text{
                @include text(200px);
                } 
            }            
        &:hover .over-text{
                left:0;
            }    
        }
        .x2{
            @include x(150px 150px 230px 0);
            a{@include a_x(150px);
                .over-text{
                @include text(130px);
                }
            }
        &:hover .over-text{
                left:0;
            }            
        }
        .x3{
            @include x(320px 150px 390px 0);
            a{@include a_x(150px);
                .over-text{
                @include text(300px);
                }
            } 
        &:hover .over-text{
                left:0;
            }           
        }
        .x4{
            @include x(320px 150px 230px 160px);
            a{@include a_x(150px);
                .over-text{
                @include text(300px);
                }
            }
        &:hover .over-text{
                left:0;
            }            
        }
        .x5{
            @include x(150px 150px 560px 160px);
            a{@include a_x(150px);
                .over-text{
                @include text(130px);
                }
            }
        &:hover .over-text{
                left:0;
            }            
        }
        .x6{
            @include x(320px 310px 720px 0);
            a{@include a_x(310px);
                .over-text{
                @include text(300px);
                }
            }
        &:hover .over-text{
                left:0;
            }            
        }
        .x7{
            @include x(150px 150px 1050px 0);
            a{@include a_x(150px);
                .over-text{
                @include text(130px);
                }
            }
        &:hover .over-text{
                left:0;
            }            
        }
        .x8{
            @include x(150px 150px 1050px 160px);
            a{@include a_x(150px);
                .over-text{
                @include text(130px);
                }
            }
        &:hover .over-text{
                left:0;
            } 
        }                
    }

}



// -----------------分类：公共部分-------------------

#clsaaity{
    padding-bottom:10px;
}
.channel {
    width: 1165px;
    height: 436px;
    background: #fff;
    margin: 0 auto 20px auto;
    padding: 20px 17px;
    border: 1px #d5d5d5 solid;
    overflow: hidden;
    border-radius: 2px;
}

.channel h2 {
    font-size: 18px;
    float: left;
    padding-left: 19px;
    font-family: "Microsoft YaHei";

}
.ranking h2 .rank-title {
    font-family: "Microsoft YaHei";
    font-weight: normal;
    padding-left: 0;
    position: relative;
    top: 1px;
    font-size: 16px;
}
.channel-t span {
    float: left;
    position: relative;
    padding-left: 15px;
    color: #999;
    top: 6px;
}

.channel-main {
    width: 925px;
    float: left;
}
    // one
    .channel-t {
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 19px;
            h2{
                a{
                    font-size:18px;                   
                }
            }
    }
    // two
    .focus {
            float: left;
            width: 230px;
            height: 391px;
            font-family: Microsoft YaHei;
            font-size: 14px;
            text-align: center;
            dt {
                width: 230px;
                height: 318px;
                background-position: 0 7px;
                position: relative;
                img {
                    width: 230px;
                    height: 307px;
                }
            }
            dd{
                &:hover a{color:#cd0000;}
            }
    }
    // three
    .classsity{
        width: 675px;
        height: 391px;
        float: right;
        position: relative;
        // ul 部分
        .classsity-ul{
            position: absolute;
            width: 35px;
            height: 245px;
            left: 1px;
            top: 0;
            z-index: 1;
            li{
                a{
                    width: 15px;
                    height: 75px;
                    display: block;
                    text-align: center;
                    padding: 0 10px;
                    font-size: 16px;
                    font-family: Microsoft YaHei;
                    line-height: 110%;
                    color: #727272;
                    overflow: hidden;
                    position: relative;
                    padding-top: 10px;
                    background: url(../images/sprite-button-8.png) -40px -315px;
                    h3{font-size:16px;}
                }
                .selecte-a{
                    z-index: 1000;
                    color: #ba1414;
                    position: relative;
                    text-decoration: none;
                    background: url(../images/sprite-button-8.png) 0 -210px;
                }
                &:hover a{
                    background: url(../images/sprite-button-8.png)  0 -210px;
                    color:#ba1414;
                }
            }
            .t1 {
                position: relative;
            }
            .t2{
                position: relative;
                z-index: 2000;
                top: -6px;
                
            }
            .t3{
                position: relative;
                top: -6px;
            }
        }
        .classsity-cont{
            overflow: hidden;
            width: 616px;
            height: 329px;
            border: 1px #cbcbcb solid;
            position: absolute;
            left: 35px;
            top: 0;
            padding: 30px 12px 30px 10px;
            overflow: hidden;
            border-radius: 2px;
            dl {
                float: left;
                width: 285px;
                height: 157px;
                margin: 0 10px 24px 12px;
                position: relative;
                dt {
                    width: 112px;
                    height: 157px;
                    background-position: 0 0;
                    float: left;
                    margin-right: 15px;
                    img{    
                        width: 112px;
                        height: 150px;}
                }
                dd {
                    width: 157px;
                    float: left;
                    margin: 1px 0;
                    color: #a5a5a5;
                }
                .title {
                    margin-bottom: 12px;
                    height: 38px;
                    overflow: hidden;
                     a {
                            color: #111;
                            &:hover{color:#CD1414;}
                        }
                }
                .date {
                    background: none;
                    width: 142px;
                    white-space: nowrap;
                    text-overflow: ellipsis
                }
                .address {
                    background: none;
                    width: 142px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    overflow: hidden;
                    a{
                        color:#666;
                        &:hover{color:#CD1414;}
                        }
                }
                .price {
                    background: none;
                    width: 142px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    span{
                        color: #cc0000;
                        margin-right: 5px;
                        font-family: "Tahoma";
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .hsfh {
                        font-family: "arial";
                        color: #cb0101;
                        font-size: 12px !important;
                        font-weight: normal !important;
                    }
                }
            }
        }
    }
    // right
    .ranking{
        width: 210px;
        float: right;
        // 题目部分
        .garya5 {
            word-wrap: break-word;
            word-break: break-all;
        }
        // 图片dl部分
        .tc {
            text-align: center;
            dt {
                width: 210px;
                height: 131px;
                position: relative;
                background-position: 0 0;
                img{
                    width: 210px;
                    height: 120px;
                }
                .no1{
                    position: absolute;
                    width: 85px;
                    height: 24px;
                    display: block;
                    z-index: 100;
                    left: -4px;
                    top: -1px;
                    background: url(../images/sprite-button.png) 0 -191px;
                }
            }
            dd{
                width: 208px;
                height: 42px;
                overflow: hidden;
                &:hover a{color:#cd0000;}    
                }
        }
        // ul部分
        .mt10{
            margin-top: 10px;
            li {
                padding-left:0;
                width: 212px;
                height: 43px;
                padding-top: 8px;
                overflow: hidden;
                white-space:normal;
                background: url(../images/sprite-bg.png) no-repeat  0 -53px;
                 span {
                    font-size: 18px;
                    height: 51px;
                    display: block;
                    float: left;
                    margin-right: 15px;
                    margin-top:-2px;

                }
            &:hover a, &:hover span{
                color:#cd0000;
                }
            }
        }
        
    }


// ------------演唱会-------------
.concert h2{
    @include common-h2(0 -122px);
}
.concert .channel-t{
    @include commont-line(#ba1414);
}
.concert h2 a{
    @include aColor(#cd0000);
}
.concert h2 .rank-title{
    @include aColor(#cd0000);
} 
// ------------话剧舞台剧-------------
.play h2{
    @include common-h2(0 -65px);
}
.play .channel-t{
    @include commont-line(#8f13a2);
}
.play h2 a{
    @include aColor(#8f13a2);
}
.play h2 .rank-title{
    @include aColor(#8f13a2);
} 

// ------------音乐舞蹈-------------

.music h2{
    @include common-h2(0 -94px);
}
.music .channel-t{
    @include commont-line(#4066BC);
}
.music h2 a{
    @include aColor(#4066BC );
}
.music h2 .rank-title{
    @include aColor(#4066BC );
} 


// ------------戏曲综艺-------------

.opera h2{
    @include common-h2(0 -719px);
}
.opera .channel-t{
    @include commont-line(#f2825d);
}
.opera h2 a{
    @include aColor(#f2825d);
}
.opera h2 .rank-title{
    @include aColor(#f2825d);
} 

// ------------儿童亲子-------------

.children h2{
    @include common-h2(0 -36px);
}
.children .channel-t{
    @include commont-line(#f2825d);
}
.children h2 a{
    @include aColor(#f2825d);
}
.children h2 .rank-title{
    @include aColor(#f2825d);
} 

// ------------体育赛事-------------
.pe h2{
    @include common-h2(0 -7px);
}
.pe .channel-t{
    @include commont-line(#37A13E);
}
.pe h2 a{
    @include aColor(#37A13E);
}
.pe h2 .rank-title{
    @include aColor(#37A13E);
} 


//----------------- 热门推荐-------------
#hotUp{
    height:45px;
    padding-top:20px;
}
.hot-recomd {
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Microsoft Yahei';
    span{
        color: #d50029;
    }
    .hot-recomd-i {
        float: left;
        display: inline-block;
        width: 20px;
        height: 22px;
        margin-top: 3px;
        margin-left: 5px;
        background: url(../images/seo-png.png) no-repeat;
        background-position: 0 0;
    }
}

// ---------------隐藏菜单----------------
#hidden-meun{
    padding-bottom:33px;
}
.hot-city{
    margin: auto;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    padding: 20px;
    display: block;
    width:1159px;
    .link_hot {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px dashed #e4e4e4;
        overflow: hidden;
        dt{
        font-size: 16px;
        font-family: "微软雅黑";
        color: #d50029;
        margin-bottom: 10px;
        font-weight: bold;
        }

        dd{
            width: 19.99%;
            float: left;
            a{
                text-align: left;
                color: #666;
                line-height: 32px;
                width: 120px;
                text-align: center;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 15px;
                float: left;
            }
        }
    }

}


// ---------------底部----------------
#Foot{
    font-family: tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
    border-top: 4px solid #ca0813;
    background-color: #535353;
    color: #fff;
    line-height: 1;
}
.foot{
    padding: 39px 0 32px;
    .nav-content {
        float: left;
        margin-right: 77px;
        line-height: 1;
        .nav-title {
            font-size: 14px;
        }
        .nav-list {
            margin-top: 18px;
            li{margin-top: 12px;}
            a{
                color: #b6b6b6;
                
            }
        }
    }
    .nav-code-content {
        float: left;
        margin-left: 100px;
        dt{
            text-align: center;
            img{
                width:120px;
                height:120px;
            }
        }
        dd{
            margin-top: 8px;
            color: #b6b6b6;
            text-align: center;
        }
    }
    .footer-link-container {
        margin-top: 40px;
        padding: 21px 0;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        text-align: center;
        font-size: 0;
        .footer-link-item {
            display: inline-block;
            padding: 1px 8px;
            border-left: 1px solid #fff;
            a {
                font-size: 12px;
                color: #fff;
            }
        }
        li:nth-of-type(1){
                border-left:none;
            }
    }
    .footer-info-content {
        padding-top: 20px;
        color: #b2b2b2;
        .fl {
            float: left;
        }
        .fr {
            float: right;
        }
        .footer-info-line {
        margin-top: 9px;
        }
    }
    .footImg{
        margin-top: 20px;
        text-align: center;
        .imglist {
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;
            vertical-align: middle;
            img{
                width:83px;
                height:30px;
            }
        }
       
    }

}

// -----------------楼梯---------------
.float-navgation{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000000;
    width: 96px;
    // top: -21.5px;
    width: 30px;

    li {
        width: 34px;
        height: 38px;
        text-align: center;
        background: #fff url(../images/float-nav-li-bg.png) repeat-x bottom center;
         a {
            display: block;
            width: 24px;
            height: 28px;
            overflow: hidden;
            padding: 5px;
             p {
                line-height: 14px;
                margin: 0;
            }
        }
        .cur1 {
                background: #EF3E53;
                color: #fff;
            }
        }
    .topbtn {
        display: block;
        width: 26px;
        height: 26px;
        margin-left: 5px;
        margin-top: 4px;
        background: url(../images/float-nav-topbtn.png) no-repeat;
    }
}










